# Auth
SESSION_SECRET=change-me-to-a-long-random-string-52cc436293276f9cac011fb26c286d1b

# Database
DATABASE_URL="file:./dev.db"
# For Postgres:
#DATABASE_URL="postgresql://user:pass@localhost:5432/ccl-artwork"

# Email (Resend) — optional
#RESEND_API_KEY=re_xxx
#EMAIL_FROM=hello@yourdomain.com

# Stripe — optional
#STRIPE_SECRET_KEY=sk_test_xxx
#STRIPE_WEBHOOK_SECRET=whsec_xxx

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
